<div class="RegisterForm></div>
<div class="grad"></div>
<div class="RegisterHeader">
    <div>Go<span>Travel</span></div>
</div>
<br>
<div class="Register">
    <input type="text" placeholder="username" name="user"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="button" value="Sign Up">
</div>
